*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: rgb(196, 196, 196);

}

.banner{
    height: 100vh;
    background-image: url('imagenes/banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3rem;
vertical-align: top;   
text-align:  ;
 margin-bottom: 1rem;
}